@import url("base.css");
body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: 'EB Garamond', serif;
  background-color: #1c1a2a;
  color: #ddd;
}

.editor-container {
  display: flex;
  flex: 1;
  padding: 2rem;
  gap: 2rem;
}

.editor-form, .preview {
  flex: 1;
  background-color: #2d2443;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px #00000033;
  overflow-y: auto;
}